PORT=3000

OPENAI_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
JEV_API_KEY=apikey_xxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_TRANSLATION_API_KEY=

POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password
POSTGRES_DB=rulead_db

DATABASE_URL=postgresql://app_user:app_password@localhost:5432/rulead_db
QDRANT_URL=http://localhost:6333
